.root {
    padding: 0;
    font-size: 18px;
}

.active {
    background-color: red;
    color: black
}

.light.default {
    background-color: green;
    color: black
}

.dark.default {
    background-color: black;
    color: white
}